<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <th>Data dodania</th>
                    <th>Przedmiot</th>
                    <th>Tytuł</th>
                    <th>Termin składania dokumentów</th>
                    <th>Wymiar godzin</th>
                    <th>Miejscowość</th>
                </thead>
                <tbody>
                    <tr *ngFor="let ofert of listOfers| paginate: { itemsPerPage: 10, currentPage:  page }" routerLink="/oferta/{{ofert.id}}">
                        <td>{{ofert.czas}}</td>
                        <td>{{ofert.nazwa}}</td>
                        <td>{{ofert.tytul}}</td>
                        <td>{{ofert.termin_dok}}</td>
                        <td>{{ofert.wymiar}}</td>
                        <td>{{ofert.miejscowosc}}</td>
                    </tr>
                    <tr *ngIf="listOfers.length===0">
                        <td colspan="6" class="text-center">
                            <p class="text-info">Brak ofert spełniających kryteria</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <pagination-controls (pageChange)="page = pageChanged($event)"  directionLinks="true"  previousLabel="Poprzednia"
            nextLabel="Następna" autoHide="true" class="pagination" style="widtH:50%; margin: auto;"> </pagination-controls>
    </div>
</div>


<br><br><br>