/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eeeeee;
}

.row{
    margin-bottom: 10px;
}

.butony{
    width:150px;
    height:40px;
    cursor: pointer;
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
    padding: 15px 15px 15px 15px; 
    width: 100%;
    text-align: center;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.home{
    background-color: #ffffff;
}

.thead-inverseW{
   // background:  linear-gradient(#31404e, rgba(30, 39, 47, 0.98));
   background-color: #ffffff;
    color: #111111;
}

.cards2{
    padding: 0px 20px;
}

#klepsydra{
    background-color: #111111;
    position: absolute;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    padding-top: 30%;
    text-align: center;
    display: none;
    z-index: 10000;
}

mdb-select > div > div.single {
    border-width: 0px;
}

mdb-select mdb-select-dropdown .dropdown-content li > a, mdb-select mdb-select-dropdown .dropdown-content li > span {
    color: #292b2c;
}

mdb-select > div > div.single > div.value{
    color: #212529;    
}

mdb-select > div > div.single > div.placeholder {
    line-height: normal;
    color: #212529;
}

mdb-select > div > div.single > div.toggle {
    color: #212529;
}

mdb-select {
    border: 1px solid #B8B8B8;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    height: 2.9rem;
    color: #212529;
    .active {
        padding-bottom: 4px !important;
    }
    
    font-size: 12px;
    font-family: 'Arial'  !important;
    transition: all 0.15s;   
    .single {
        font-size: 15px !important;
        padding: 0 !important;
        border-bottom-width: 0px;
        height: 1.9rem;
        .value {
            padding: 10px 8px !important;
            border: none !important;
            height: 2.9rem;
            color: #212529;
        }
        .placeholder {
            padding: 10px 8px !important;
            border: none !important;
            height: 2.9rem;
        }
        .toggle {
            z-index: 2 !important;
            transition: 0.5s;
        }
    }
    .dropdown-content {
        border-radius: 5px;
        z-index: 11 !important;
        .select-option {
            font-size: 12px;
            font-family: 'Arial';
            padding: 0;
        };
        li {
            height: 28px;
            span{
                color: #292b2c;
            }
            
        }
    }
    .open-icon {
        color:#212529;
         height: 2.2rem;
        transform: rotate(180deg) translateY(16px) !important;
        transition: 0.2s;
    }
    .closed-icon {
        color:#212529;
         height: 0.9rem;
        transition: 0.2s;
    }
}
mdb-select > div > div.single > div.value,
mdb-select > div > div.single > div.placeholder {
    line-height: normal;
}
mdb-select-dropdown{ 
transition: 0s !important; 
}

.headbg {
    background: #212f48;
}

.headbg h1{
    color: #ffffff;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.search-container{
    margin-top: 40px;
}

.input-form {
    font-size: 13px !important;
    vertical-align: middle;
    border: none !important;
    padding-left: 6px;
}
input {
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    outline: none;
    font-size: 1rem;
    box-shadow: none;
    transition-duration: 0s !important;
    height: 1.9rem !important;
    width: calc(100% - 6px);
    box-sizing: content-box;
    padding-bottom: 0px;
    padding-top: 0px;
}

